.trip_view{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgb(209, 209, 209);
    display: flex;
    overflow: hidden;
    margin: 2% auto;
}

.trip_view_cover{
    width: 50%;
    height: 60vh;
    overflow: hidden;
}

.trip_view_cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trip_view_desc{
    padding: 30px;
    width: 50%;
    font-size: 15px !important;
}

@media screen and (max-width: 768px){
    .trip_view{
        flex-direction: column;
    }

    .trip_view_cover{
        width: 100%;
    }

    .trip_view_desc{
        width: 100%;
    }
}