.places {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  row-gap: 25px;
}

.empty-spin {
  display: block !important;
  margin: 10% auto;
}
