.star_button{
    background: rgb(214, 214, 214);
    color: #000;
    font-weight: 400px;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 6px;
}

.star_button.checked{
    background: #F15A24;
    color: #FFF;
}

.isAdmin{
    color: #F15A24;
}

.names, .email{
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px){
    .trip_admin_profile{
        width: 30px;
        height: 30px;
    }

    .title_4.small{
        width: 33%;
    }

    .role{
        display: none;
    }

    .star_button{
        width: 25px;
        height: 25px;
        font-size: 12px;
        margin: 0;
    }
}