.navbar{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    position: relative;
}

.profile_picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: red;
}


.brand_logo{
    background-color: red;
    height: inherit;
    display: flex;
    align-items: center;
}

.brand_logo img{
    width: 50px;
    padding-right: 4px;
}

@media screen and (max-width: 768px){
    .brand_logo{
        display: none;
    }
}