.super_admin_nav {
  background: #f15a24 !important;
  color: #fff !important;
  border: none !important;
}

.menu_item {
  text-transform: capitalize !important;
  font-weight: bold;
}

/* .menu_item a {
  color: #fff !important;
} */

.menu_item a,
.menu_item a:hover,
.menu_item a:active,
.menu_item a:hover {
  color: #fff !important;
}

.menu_item.active,
.menu_item:hover {
  border-bottom: 3px solid #fff !important;
}

.super_admin_nav .menu span {
  color: #fff !important;
  border-radius: 2px;
  display: block;
  cursor: pointer;
  text-transform: uppercase !important;
}
