.trip_admins {
  background: #fff;
  border-radius: 20px !important;
  padding: 12px;
}

.single_admin {
  padding: 20px 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  border-bottom: 1px solid rgb(209, 209, 209);
  width: 97%;
  margin: auto;
}

.delete_spin {
  color: white !important;
  margin: auto !important;
  display: block !important;
  position: absolute !important;
  top: 6px !important;
  left: 10px !important;
}

.admin_name {
  width: 30%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trip_admin_profile {
  background: rgb(235, 235, 235);
  border: 1px solid rgb(185, 185, 185);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .single_admin {
    height: 45px;
  }

  .trip_admin_profile {
    width: 30px;
    height: 30px;
  }

  .admin_name {
    width: 120px;
  }

  .title_4.small {
    font-size: 12px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .bold.small {
    width: 38%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
