.request_img {
  background-color: maroon !important;
}

.requests_spin {
  display: block;
  margin: 10% auto;
}

@media screen and (max-width: 768px) {
  .requests_title {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
}
