.loginform {
  width: 17%;
}

.login_logo {
  width: 150px;
  margin: 4% auto;
}

.login_logo img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 760px) {
  .loginform {
    width: 70%;
  }
}
