.trip_card {
  width: 100% !important;
  height: auto;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
}

.card_cover {
  width: 100%;
  height: 150px;
  background: red;
}

.card_cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_desc {
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.card_title {
  margin-top: 15px;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}

.PENDING,
.APPROVED,
.REJECTED {
  color: #999;
  align-self: flex-end;
  position: absolute;
  right: 60px;
  top: 40px;
}

.REJECTED {
  color: red;
}

.ACCEPTED {
  color: green;
}

button.card_button {
  position: absolute;
  right: 12px;
  top: 35px;
  background: #f15a24 !important;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .places_title {
    margin-left: 10px;
  }
}
